/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &default_transform; };
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        copy_macro: copy_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "COPY_MACRO";
        };

        paste_macro: paste_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "PASTE_MACRO";
        };

        save_macro: save_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "SAVE_MACRO";
        };

        undo_macro: undo_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "UNDO_MACRO";
        };

        redo_macro: redo_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "REDO_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
&none           &none           &none           &kp UP_ARROW    &kp LG(C)        &kp S        &none  &none  &none  &none  &none  &none
&kp LEFT_GUI    &kp LEFT_GUI    &kp LEFT_ARROW  &kp DOWN        &kp RIGHT_ARROW  &kp C        &none  &none  &none  &none  &none  &none
&kp LEFT_SHIFT  &kp LEFT_SHIFT  &none           &bt BT_CLR_ALL  &bt BT_SEL 0     &kp V        &none  &none  &none  &none  &none  &none
                                                &none           &kp Z            &kp SPACE    &none  &none  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
